# Build output
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code settings
.vscode/

# SQLite database file (opcional)
# Si quieres subir la base de datos, comenta esta línea
Tareas.db

# Logs
*.log

# NuGet packages
*.nupkg
packages/

# Resharper files
_ReSharper*/
*.DotSettings.user

# Backup & report files
*.bak
*.backup
*.BLOB

# Others
*.vspscc
*.vssscc